{% extends "events/base.html" %}

{% block content %}
    <h1>About page</h1>

    <h3>The need of getting right information at the right time. </h3>

    <ul> <li>The purpose is to make sure that every information that has been forwarded by the department is reached to everyone on time and enhance maximum participation.</li>
    <li>While communicating through a circular or displaying advertisement on notice board people might bypass.</li>
    <li>In UEM ( university event manager ) is an online event management system software project that serves the functionality of an event manager.</li>
    <li>In UEM ( university event manager ) is an online event management system software project that serves the functionality of an event manager.</li>
    <li> The system allow registered user login and new user are allowed to register on the application.</li>
    <li> The system helps in the management of events, users and the aspects related to them.</li>
     <li> This proposed to be a web application.</li>

    </ul>



{% endblock content %}
