{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Events Manager</title>
    <link rel="stylesheet" href="{% static 'events/bootstrap.min.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Mono|Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption|Roboto|Ropa+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Do+Hyeon|Permanent+Marker|Spicy+Rice|Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  


    <link rel="stylesheet" href="{% static 'events/style.css' %}">
</head>

<body>


    <nav>
        <label class="logo"> Events <span id="span" style="color: #0082e6;">Manager</span></label>
        <ul  id="active">
            <li><a href="{% url 'event-home' %}" class="active">Home</a></li>
            <li><a href="{% url 'event-about' %}">about</a></li>
            <li><a href="{% url 'event-home' %}">Features</a></li>
            <li><a href="{% url 'event-home' %}">services</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'admin:index' %}">admin</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'register' %}">register</a></li>

             {% endif %}
           
          </ul>
          <div class="checkbtn"><i class="fa fa-bars" aria-hidden="true"></i></div>
  </nav>
 
  {% block details %}

  {% endblock %}
  

    <br><br><br><br><br>
 <!-- small area -->

 <main style=" font: normal bold 18px var(--font-ram);" role="main" class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}
</main>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
    <script src="{% static 'events/typed.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="{% static 'events/main.js' %}"></script>

   
</body>

</html>