{% extends "events/index.html" %}
{% load static %}

{% block content %}

      {% for event in events %}
      <div class="col-lg-4 item {{event.event_status}}">
                            
        <div class="card">

            <div class="card-head ">
                <img id="{{event.Department}}" src=""  alt="" class="img-fluid  card-img">
                <div class="card-overlay"><h2>{{event.title}}</h2></div>
                <div class="card-hover">
                    <h2>{{event.title}}</h2>
                    <p>{{event.event_date}}</p>
                </div>
            </div>

            <div class="card-body text-center">
                <h4 id="h4" class="title">{{event.get_Department_display}}</h4>
                <a href="{% url "details" id=event.id %}" class="btn btn-lg card-btn">See More</a>
            </div>

        </div>

    </div>
 
  {% endfor %}
  


{% endblock content %}
