body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;

  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }

  table {
    text-align: left;
    margin-right: auto;
}
  
  .bg-steel {
    background-color: #364047;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  